
<a href="https://github.com/you" style="position: absolute; top: 0; right: 0; border: 0;" ><img src="https://camo.githubusercontent.com/38ef81f8aca64bb9a64448d0d70f1308ef5341ab/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6461726b626c75655f3132313632312e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png"></a>

<div id="wrapper"  [ngClass]="{'gray-blur': showModal == true }">

	<app-header [Softwares]="softwares" [isAuthenticated]="isAuthenticated" (logout)="logout()" (search)="search($event)"></app-header>

	<filter-bar (switch) = "switch($event)" (filter) = "filterShortcuts($event)"></filter-bar>

	<div class="main-content">
		<!-- <button (click)="showModal = true">test modal</button> -->
		<shortcuts [Shortcuts]='shortcuts | async' (showShortCutDetails)="showShortCutDetails($event)"></shortcuts>
	</div>

	<app-footer></app-footer>
	
</div>

<modal class="modal" [isVisible]="showModal">
	<div class="modal-content">
		<span class="close" (click)="showModal = false">&times;</span>
		<div class="gif">
			<!-- change it after implementing gif upload  -->
			<img src="/assets/images/test.gif">
		</div>
		<shortcut-details  class="shortcut-infos" [shortcut]= "SelectedShortcut | async" ></shortcut-details>
		<div class="modal-footer"> 
			<button class="btn-primary fav-btn">add to Favoris</button>
			<button class="btn-primary close-btn" (click)="showModal = false">close</button>
		</div>
	</div>
</modal>


