<div class="account-wrapper">
	
	<div class="side1">
		<h1>Shortcuts.io</h1>
	</div>

	<div class="side2">
		<div class="sign-up-form">
			<div class="form-control">
				<label>Username</label>
				<input type="text" name="" #username placeholder="your username">
			</div>
			<div class="form-control">

				<label>Password</label>
				<input type="password"  #password name="" placeholder="******">
			</div>
			<div class="form-control">

				<label>Confirm password</label>
				<input type="password" name="" placeholder="******">
			</div>

			<div class="form-control">

				<label>email</label>
				<input type="text" name="" placeholder="your email " #email>
			</div>

			<button (click)="signUp(username.value,password.value,email.value)" >Sign Up </button>
		</div>
	</div>

</div>
<div class="footer"></div>
