<div class="filter">
	<div class="bar">
		<div class="count">
			<!-- All Shortcuts  (Displaying 100 - 130 of 39281 Shortcuts ) -->
		</div>
		<div class="filter-section">
			<label>
				filter By :
			</label>
			<select  (change) = "filter.next($event.target.value)">
				<option>Popularity</option>
				<option>newest</option>
			</select>
		</div>
		<div class="switch">
			<label>Win/Mac</label>
			<select (change) = "switch.next($event.target.value)"> 
				<option>Win</option>
				<option>Mac</option>
			</select>
		</div>
	</div>
</div>
